<h1 class="page-header">{{title}}</h1>
<h2 ng-if="message">{{message}}</h2>
<div class="list-group">
	<a ng-href="#/detail/{{item.id}}" class="list-group-item " ng-repeat="item in subject">
		  <span class="badge">{{item.rating.average}}</span>
		<div class="media">
			<div class="media-left">
				<img class="media-object" ng-src="{{item.images.small}}" alt="{{item.images.alt}}">
			</div>
			<div class="media-body">
				<h4 class="media-heading">{{item.title}}</h4>
				<p>类型：
					<span>{{item.genres.toString()}}</span>
				</p>
				<p>导演：
					<span ng-repeat="style in item.directors">{{style.name}}
						<span ng-if="!$last">、</span>
					</span>
				</p>
				<p>主演：
					<span ng-repeat="style in item.casts">{{style.name}}
						<span ng-if="!$last">、</span>
					</span>
				</p>
			</div>
		</div>
	</a>
</div>
<span>总共：{{totalCount}}条记录,第{{Currentpage}}/{{totalPage}}页</span>
<nav aria-label="...">
	<ul class="pager">
		<li ng-class="{disabled:Currentpage<=1}"><a ng-click="go(Currentpage-1)">Previous</a></li>
		<li ng-class="{disabled:Currentpage>=totalPage}"><a ng-click="go(Currentpage+1)">Next</a></li>
	</ul>
</nav>
